{{ define "index" }}
{{ template "header" }}
  <p id="demo">Halo :v</p>
  <button type="button" onclick="myFunction()">Try it</button>
  <a href="/new">klik sini</a>
  <script src="view/asset/niu.js"></script>
{{ template "footer" }}
{{ end }}